@{
    ViewData["Title"] = $"Dev's Calendar – {DateTime.Now.Year}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="calendar" class="text-center">
    <h3 id="YearHeader"></h3>
    <div class="container-fluid" id="mainBlock">
    </div>
</div>